QWidget{
    font-family: "Lato-Regular";
    font-size: 18px;
    font-weight: 500;
    background-color: #94649d;
}

Sidebar{
    background-color: #194c57;
}

Sidebar QPushButton{
    background-color: #67b7af;
    border-radius: 10px;
    border: 1px solid #96219c;
    color: black;
    padding: 8px 15px;


}